body {
  color: #ffffff;
  background-color: black;
}

.content {
  background-color: black;
  height: 100vh;
}

h1,
h2 {
  color: red;
  text-align: center;
  border-bottom: white;
}
p {
  font-size: 30px;
  text-align: center;
}

#logo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

#sub-title {
  border-bottom: gray;
  /* margin-left: 200px; */
}

#game-img {
  width: 100%;
  margin: 0 0 0 200px;
}
